{% extends 'base.html' %}

{% block content %}
</br>
<h3>Post</h3><br/>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'articledetail' post.pk %}">{{ post.title }}</a>
        - <strong>{{ post.category }}</strong>
        - {{ post.author }} - {{ post.postdate }}
        <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                   <a href="{% url 'update' post.pk %}">(Edit)</a>
                   <a href="{% url 'delete' post.pk %}">(Delete)</a>
                {% endif %}
            {% endif %}
        </small><br/>
        {{ post.body | slice:"200" | safe }}
    </li>
{% endfor %}
</ul>

<!-- Pagination -->
{% if is_paginated %}
  <nav aria-label="Posts navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
